name: Playwright E2E

on:
  # Trigger from repo appcode
  repository_dispatch:
    types: [ run-e2e ]

  # Manual
  workflow_dispatch:
    inputs:
      env:
        description: "Environment (qa | staging)"
        required: true
        default: "qa"
      tag:
        description: "Test tag (@smoke | @critical | @regression)"
        required: true
        default: "@smoke"
      base_url:
        description: "Base URL"
        required: true
        default: "https://www.saucedemo.com"

  # Nightly regression
  schedule:
    - cron: "0 22 * * *"  

jobs:
  playwright:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      # -----------------------
      # Checkout
      # -----------------------
      - uses: actions/checkout@v4

      # -----------------------
      # Setup Node
      # -----------------------
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - run: npm ci
      - run: npx playwright install --with-deps

      # -----------------------
      # Setup ENV (single source of truth)
      # -----------------------
      - name: Setup environment variables
        run: |
          if [[ "${{ github.event_name }}" == "repository_dispatch" ]]; then
            echo "ENV=${{ github.event.client_payload.env }}" >> $GITHUB_ENV
            echo "BASE_URL=${{ github.event.client_payload.base_url }}" >> $GITHUB_ENV
            echo "TAG=${{ github.event.client_payload.tag }}" >> $GITHUB_ENV

          elif [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "ENV=${{ inputs.env }}" >> $GITHUB_ENV
            echo "BASE_URL=${{ inputs.base_url }}" >> $GITHUB_ENV
            echo "TAG=${{ inputs.tag }}" >> $GITHUB_ENV

          elif [[ "${{ github.event_name }}" == "schedule" ]]; then
            echo "ENV=staging" >> $GITHUB_ENV
            echo "BASE_URL=https://staging.saucedemo.com" >> $GITHUB_ENV
            echo "TAG=@regression" >> $GITHUB_ENV
          fi

          echo "USERNAME=${{ secrets.USERNAME }}" >> $GITHUB_ENV
          echo "PASSWORD=${{ secrets.PASSWORD }}" >> $GITHUB_ENV

      # -----------------------
      # Debug
      # -----------------------
      - name: Debug ENV
        run: |
          echo "BASE_URL=$BASE_URL"
          echo "TAG=$TAG"

      # -----------------------
      # Run Playwright
      # -----------------------
      - name: Run Playwright
        run: |
          npx playwright test --grep "$TAG"

      # -----------------------
      # Report
      # -----------------------
      - name: Upload report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 7

